body {cursor:cross;
    /* background: #000000 url(https://lh6.googleusercontent.com/-uRLX3SeDrdI/TjBpUFR5oeI/AAAAAAAAAIo/GYSnWQxGWMc/cok.gif) scroll repeat center center; */
    margin: 0px;
    font-family: "Orbitron";
}

.jumbotron {
    height: 600px;
    background-image: url("../../../../../img/62212137_2193386697638033_2159366233370132480_n1.jpg");
    border:4px double red;
    box-shadow:0px 9px 15px white;
    border-radius:10px;
    background-size: cover;
    width: 100%;
}

.btn-warning {
    background-color: #e41111;
    border-radius: 10px;
    box-shadow: 0px 2px 2px black !important;
}

.btn-warning:hover {
    background-color: #e41111;
}

.footer {
    line-height: 50px;
    margin-bottom: 0;
}  

.thanks{
    border:4px double red;
    box-shadow:0px 2px 20px white;
    border-radius:10px;
    padding:9px;}
.a{
    text-shadow:0px 1px 10px rgb(255, 255, 255);
    color: #e41111;
    backdrop-filter: brightness(60%);}
.z {
  display: flex;
  justify-content: center;
  padding: 10px;}